# Ignore the main build directory
build/
res/
build_test/
# Ignore compiled binaries and libraries
shallowriver
*.o
*.so
*.a

# Ignore local compiled model engine configurations
*.engine

# Core CMake cache file footprints
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Makefile
cmake_install.cmake
